// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

body {
    font-family: 'Nunito', sans-serif;
    background: white;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 5px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px rgb(228, 224, 224);
    color: gray;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 0px;
}

// #sidebar ul.components {
//     padding: 20px 0;
// }

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 6px;
    font-size: 1.1em;
    display: block;
    color: gray;
}

#sidebar ul li a:hover {
    color: dodgerblue;
    box-shadow: 0px 0px 5px rgb(228, 224, 224);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: dodgerblue;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}


a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    margin-left: 250px;
    padding: 10px 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
#content.active {
    width: 100%;
    margin-left: 0px;
    padding: 10px 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #content{
        margin-left: 0px;
    }
    #content.active{
        margin-left: 250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
