@media (max-width: 576px) {
    .hide{
        display: none;
    }

    div#datatable_info.dataTables_info{
        display: none;
    }
 }

@media (max-width: 768px) {
    body{
        background-color: #fff;
    }
 }

@media (max-width: 992px) { 
    body{
        background-color: #fff;
    }
 }

@media (max-width: 1200px) {
    body{
        background-color: #fff;
    }
 }